# URL de conexión (Transaction Pooler - a través del puerto 6543)
DATABASE_URL="postgresql://[USUARIO]:[CONTRASEÑA]@[HOST_POOLER]:6543/postgres?pgbouncer=true"

# URL Directa (Para que Prisma intente las migraciones con el puerto 5432 o Session Pooler)
DIRECT_URL="postgresql://[USUARIO]:[CONTRASEÑA]@[HOST_DIRECTO]:5432/postgres"
